/* Global reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Styling the header */
header {
    background-color: #085b45;
    position: fixed; /* Fixed position */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Make sure it's on top of other content */
}

/* Spacing the body content to avoid being hidden under the fixed navbar */
body {
    padding-top: 60px; /* Adjust this value based on the navbar height */
}

/* Styling the navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

/* Logo styling */
.logo {
    color: white;
    font-size: 24px;
    font-weight: bold;
}

/* Navbar links */
.nav-links {
    list-style-type: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

/* Link styling */
.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 5px 10px;
    transition: background-color 0.3s;
}

/* Hover effect on links */
.nav-links a:hover {
    background-color: #575757;
    border-radius: 4px;
}
